# Docker
Dockerfile
.dockerignore
# Config
.git
.gitignore
# Secrets
.env
secrets.json
# NPM
/node_modules
# STATICS
/uploads/avatars/*
/uploads/room_photos/*
/static/css/*
/staticfiles/*
# Database
#db.*
# Translation copmile file
*.mo
# ECT
**/.DS_Store
README.md
**/__pycache__
deploy.py
/requirements/*

